.mainTitle {
	color: black;	
	text-align: center;
	font-weight: bold;
	margin-top: 50vh;
	margin-bottom: 100vh;
	font-size: 28;
}

.connexionText {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 20;
	margin-bottom: 35vh;
}

.inputArea {
	width: 300vh;
	margin-bottom: 30vh;
}

.hint {
	font-weight: bold;
	font-size: 12;
	margin-left: 60vh;
}

.connexionButton {
	color: black;
	font-size:12;
	background-color: white;
	border-width: 5px;
	width: 200vh;
}

.signUp {
  	border-color:rgba(255, 0, 0, 0.0);
  	border-width: 1;
	color: black;
	font-size: 9;
	font-style: italic;
}