.Button {
	color: white;
	font-size:12;
	background-color: #bf0d31;
	width: 50%;
	margin-top: 10vh;
	margin-bottom: 50vh;
}

.profilPic {
	width: 50%;
	margin-top: 50vh;
	margin-bottom: 50vh;
}

.buttonZone {
	width: 75%;
}

.inputArea {
	width: 300vh;
	margin-bottom: 30vh;
}

.mainTitle {
	color: black;
	text-align: center;
	font-weight: bold;
	margin-top: 50vh;
	font-size: 28;
	margin-bottom: 80vh;
}

.secondTitle {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 28;
}

.hint {
	color: black;
	font-weight: bold;
	font-size: 12;
	margin-left: 60vh;
}

.genderDropdown {
	width: 50vh;
	align-items: center;
}
