.mainTitle {
	color: black;
	text-align: center;
	margin-top: 70vh;
	margin-bottom: 100vh;
	font-size: 28;
}

/*.body {
	background-image: ~/ressources/backgroundStripes.jpg;
}*/

.connexionText {
	color: black;
	text-align: center;
	font-size: 20;
	margin-bottom: 35vh;
}

.resizeImage
{
    width: 50%;
    height: auto;
    margin-bottom: 200px;
    margin-top: -40px;
}

.inputArea {
	width: 300vh;
	margin-bottom: 30vh;
	font-size: 10;
}


.borderStyle {
        width: 300vh;
        color:black;
        margin-bottom: 20vh;
        margin-top: 10vh;
        border-color: #350203;
        font-size: 12;
        background-color: white;
        border-width: 5px;
}

.hint {
    margin-top: 50px;
    color: #000000;
    font-size: 12;
    color: black;
    font-weight: bold;
    font-size: 14;
    margin-left: 60vh;
}

.connexionButton {
	color: white;
	font-size:12;
	background-color: #b090FF;
	width: 200vh;
}

.signUp {
    border-color:rgba(255, 0, 0, 0.0);
    border-width: 1;
    color: black;
    font-size: 13;
    font-style: italic;
}



